<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/vue-select.css">
    <link rel="stylesheet" href="./css/swiper-bundle.min.css">
    <link rel="stylesheet" href="./index.css">

    <script src="./js/vue.js"></script>
    <script src="./js/vue-select.js"></script>
    <script src="js/icons.js"></script>
    <script src="js/jspdf.umd.min.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script  src="js/index.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header class="header">
            
        </header>

        <div class="swiper sw-container">
           
            <div class="swiper-wrapper">
             
                <div class="swiper-slide info_1">
                    <div class="swiper__info">
                        <div class="bgc-image"></div>
                        <img src="./img/photo_1.jpg" alt="">
                        <div class="swiper__text">
                            <h2 class="swiper__title">Дом Дальневосточника</h2>
                            <span class="swiper__descr">
                                Цифровой сервис, созданный для индивидуального жилищного строительства на территории ДВФО, а именно Хабаровского края. 
                                Данный сервис включает в себя комплексный набор функций 
                                от подбора и приобретения земельного участка до строительства Дома мечты со всей необходимой для жизни инфраструктурой по методу «одного окна».
                            </span>
                        </div>
                       
                    </div>
                </div>
                
                <div class="swiper-slide info_1">
                    <div class="swiper__info info_2">
                        <div class="bgc-image"></div>
                        <img src="./img/photo_2.jpg" alt="">
                        <div class="swiper__text">
                            <h2 class="swiper__title">Выбор земельного участка</h2>
                            <span class="swiper__descr">
                                Будьте в курсе самой полной и актуальной информации о выделяемых 
                                по программе Дом Дальневосточника участках и следите за ходом 
                                строительства в личном кабинете на сайте <a href="https://xn--80az8a.xn--d1aqf.xn--p1ai/" target="_blank">наш.дом.рф. </a>
                            </span>
                        </div>
                      
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiper__info">
                        <div class="bgc-image"></div>
                        <img src="./img/photo_3.jpg" alt="">
                        <div class="swiper__text">
                            <h2 class="swiper__title">Проект для осуществления мечты</h2>
                            <span class="swiper__descr">Ознакамливайтесь и выбирайте проект Дома Дальневосточника исходя из Ваших потребностей и пожеланий. </span>
                        </div>
                     
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiper__info">
                        <div class="bgc-image"></div>
                        <img src="./img/photo_4.jpg" alt="">
                        <div class="swiper__text">
                           
                            <h2 class="swiper__title">Программа ипотечного кредитования</h2>
                            <span class="swiper__descr">
                                Подбирайте конкретную программу с учетом Ваших возможностей и потребностей:
                                <br/>
                                - Дальневосточная ипотека;
                                <br/>
                                - Материнский капитал;
                                <br/>
                                - Сельская ипотека;
                                <br/>
                                - Субсидируемая ипотека</span>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiper__info">
                        <div class="bgc-image"></div>
                        <img src="./img/photo_5.jpg" alt="">
                       
                        <div class="swiper__text">
                            <h2 class="swiper__title">Этапы воплощения мечты</h2>
                            <span class="swiper__descr">Отслеживайте в личном кабинете в режиме онлайн 
                                все этапы реализации Вашего проекта по строительству Дома Дальневосточника. Пусть мечты осуществляются ! </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <h1 class="title">Сервис персональных предложений</h1>
        <span class="title__descr">для строительства частного дома</span>

        <div id="app">
            <div class="banners">
                <div class="banner">
                    <div v-html="icons.info"></div>
                    <span>Заполните анкету для получения подписания соглашения по строительству Дома Дальневосточника</span>
                </div>

                <div class="banner">
                    <div v-html="icons.star"></div>
                    <span>3877 пользователей уже получили персональные рекомендации для строительства</span>
                </div>
            </div>

            <h2 class="sub__title">Список вопросов</h2>
            <span class="sub__title__descr">По завершению заполнения анкеты, вам будет предоставлено
               соглашение на строительство Дома Дальневосточника.</span>

                <div class="quest__container">
                    <div class="quest-content" 
                        v-for="(item, idx) in filteredQuests"
                        :key="item.id">
                        <div  :class="[!item.isChecked &&  currentQuestion != item ? 'quest__wrapper--disabled' : 'quest__wrapper']">
                          <button class="btn-reset quest"
                                :style="currentQuestion == item ?  'box-shadow: 0 4px 12px rgb(0 0 0 / 10%)': ''"
                                @click="getCurrentItem(item)"
                                :disabled="!item.isChecked && idx!= 0 && notInQuestOpened(item)"
                            >
                                <div class="quest__icon" 
                                    v-html="item.icon"
                                    :class="{'quest-icon__checked': item.isChecked || currentQuestion == item}"
                                ></div>
                                <span class="quest_title"
                                      :style="!item.isChecked &&  currentQuestion != item ?  'color: var(--color-text-lightgrey)': ''"
                                >{{ item.name }}</span>
                                <div class="quest__icon--checked" 
                                     v-html="icons.checked"
                                     v-if="item.isChecked"
                                ></div>
                            </button>
                        </div>

                        <div v-if="item.isChecked && currentQuestion != item"
                               style="display: grid;">
                        <div v-for="element in item.options"  class="quest-answer">
                            <span v-if="element.value ">Вопрос:</span> 
                            <span  v-if="element.value">{{ element?.question }}</span>   
                            <span  v-if="element.value">Ответ:</span> 
                            <span  v-if="element.value ">{{element.value}}</span>        
                        </div>
                              
                        </div>

                        <div v-if="currentQuestion == item">
                            <div class="quest__dialog">
                                <div v-for="(quest, index) in filteredCurrentQuestion.options">
                                    <div  v-if="quest.questType == 'select' && !quest.sub"
                                            class="input__wrapper">
                                            <span class="quest-text">{{ quest.question}}</span>
                                            <v-select :options="quest.answers" 
                                                v-model="quest.value" 
                                                placeholder="Выберите один из вариантов"
                                                @input="goToNext(item, idx, quest, index)">
                                            </v-select>
                                    </div>
                                            <!-- && isQuestInCurrentSubQuest(quest) -->
                                    <div v-if="quest.questType == 'radio'  ">
                                        <span class="quest-text">{{ quest.question}}</span>
                                        <label class="radio__label"
                                                v-for="radio in quest.answers"
                                                :key="radio">
                                            <input class="radio__input" 
                                                    @change="goToNext(item, idx, quest, index)"
                                                    type="radio" 
                                                    v-model="quest.value"
                                                    :value="radio">
                                            <span class="radio__option">{{ radio}}</span>
                                        </label>

                                        
                                    </div>

                                    <div v-if="quest.questType == 'select' && quest.sub  " class="sub-options">
                                        <div v-for="subOptions in quest.sub" >
                                            <span class="quest-text">{{subOptions.sys_name}}</span>
                                                <v-select :options="subOptions.list" 
                                                    v-model="subOptions.value"
                                                    placeholder="Выберите один из вариантов"
                                                    @input="goToNext(item, idx, quest, index)">
                                                </v-select>
                                        </div>
                                    </div>

                                    <div v-if="quest.questType == 'calc' && quest.sub && quest.value == 'С использованием кредитных средств' ">
                                        <div class="calc"   >
                                               <div class="calc__value">
                                                    <span class="calc__value-text">Ежемесячный платеж</span>
                                                    <span class="calc__value-text">Сумма кредита</span>
                                                    <span class="calc__value-value">{{ numberFormat(monthPayment) }} <small>&#8381;</small></span>
                                                    <span class="calc__value-value"> {{ numberFormat(creditSum) }} <small>&#8381;</small></span>
                                               </div> 
    
                                               <div class="calc__content">
                                                    <label class="calc__label" 
                                                            v-for="calc in quest.sub"
                                                            :key="calc.id"
                                                            >
                                                        <span>{{ calc.text }}</span>
                                                        <input type="number"  
                                                                v-model.number="calc.value"
                                                                class="calc__input" >
                                                    </label>
                                               </div>
                                               <button class="btn-reset actual-btn go-to-next-btn" 
                                               style="margin-top: 10px"
                                               type="button"
                                               @click.prevent="goToNext(item, idx, quest, index)">
                                           Перейти к следующему 
                                           </button>
                                        </div>
                                 
                                    </div>

                                    <div v-if="quest.questType == 'link'">
                                        <a href="https://xn--h1aieheg.xn--d1aqf.xn--p1ai/igs/project?page=1&amp;region=27&amp;size=12&amp;sort=contestWinner%2CDESC&amp;sort=published%2CDESC" target="_blank">Открыть каталог проектов застройщика</a>
                                        <button class="btn-reset actual-btn go-to-next-btn" 
                                                style="margin-top: 10px"
                                                type="button"
                                                @click.prevent="goToNext(item, idx, quest, index)">
                                            Перейти к следующему вопросу
                                        </button> 
                                    </div>

                                   
                                 

                                    <a class="btn-reset actual-btn" v-if=" item.id == 11"
                                       href="./dogovor.docx" download="./dogovor.docx"
                                       @click="goToNext(item, idx, quest, index)"
                                       >
                                        <span v-html="icons.doubleArrow"></span>
                                        Сохранить pdf
                                </a> 
                                </div>
                            </div>

                            <!-- <button class="btn-reset actual-btn">
                                <span v-html="icons.doubleArrow"></span>
                                Вернуться к актуальному вопросу</button> -->
                                <!--  -->
                        </div>

                       
                    </div>
                 
                      
                    
                </div>

                <div>   
                    <div v-if="isLastElChecked">
                        <span style="font-size: 20px">Варианты передачи соглашения в офис АО "Застройщик":</span> 
                        <ol >
                             <li v-for="it in variants">{{ it }}</li>
                        </div>
                     </div>

              
        </div>
    </div>
</body>
</html>